@using Car_Rental_System.CustomModels
@model RentModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-1">
            <h2 class="display-4 text-center"> Booking Now</h2>
            <hr />
        </div>
        <div class="col-md-10 offset-1">

            @if (ViewBag.Success == true)
                {
                    <div>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Congratulations! </strong> You have added a Booking.

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                }

            <form method="post" asp-controller="rent" asp-action="createbooking">
                <div class="form-group">
                    <label asp-for="CustomerId"></label>
                    <select class="dropdown-item" asp-for="CustomerId" asp-items="ViewBag.Customer">
                        <option value="">--Select the Customer--</option>
                    </select>
                    <span asp-validation-for="CarId" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Rent_Date"></label>
                    <input asp-for="Rent_Date" class="form-control" />
                    <span asp-validation-for="Rent_Date" class="text-danger"></span>


                </div>
                <div class="form-group">
                    <label asp-for="Return_Date"></label>
                    <input asp-for="Return_Date" class="form-control" />
                    <span asp-validation-for="Return_Date" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Status"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="CarId"></label>
                    <select class="dropdown-item" asp-for="CarId" asp-items="ViewBag.Car">
                        <option value="">--Select the Car--</option>
                    </select>
                    <span asp-validation-for="CarId" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="DriverId"></label>
                    <select class="dropdown-item" asp-for="DriverId" asp-items="ViewBag.Driver">
                        <option value="">--Select the Driver--</option>
                    </select>
                    <span asp-validation-for="DriverId" class="text-danger"></span>

                </div>

                <div class="btn-group">
                    <div class="form-group mr-2">
                        <input type="reset" value="Clear" class="btn btn-primary" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-info" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

