<footer class="border-top footer text-muted text-center">
    <div class="container">
        <div class="text-info">
            &copy; @DateTime.Now.Year - Car Rental System - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
</footer>