@using Car_Rental_System.IdentityModel
@inject Microsoft.AspNetCore.Identity.SignInManager<CustomizeUser> _SignInManager

@if (_SignInManager.IsSignedIn(User))
{
<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hello @(User.FindFirst("FirstName").Value + " " + User.FindFirst("LastName").Value)
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Log Out</a>
        <a class="dropdown-item" asp-controller="Account" asp-action="PasswordChange">Password Change</a>
    </div>
</div>
}
else
{
    <div class="d-flex align-items-center">
        <div class="mr-2">
            <a class="btn btn-outline-info" asp-area="" asp-controller="Account" asp-action="login" asp-route-returnUrl="@Context.Request.Path">Login</a>
        </div>
               
        <div>
            <a class="btn btn-outline-danger" asp-area="" asp-controller="Account" asp-action="SignUp">Register</a>
        </div>
               
           
    </div>

}