@using Car_Rental_System.ViewModel
@model CarVM
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-1">
            <h2 class="display-4 text-center"> New Car Add</h2>
            <hr />
        </div>
        <div class="col-md-10 offset-1">

            @*@if (ViewBag.Success)
            {
                <div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Congratulations! </strong> You have added a new book.

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }*@

            <form method="post" enctype="multipart/form-data" asp-controller="car" asp-action="create">
                <div class="form-group">
                    <label asp-for="Car.Brand"></label>
                    <input asp-for="Car.Brand" class="form-control" />
                    <span asp-validation-for="Car.Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Car.Model"></label>
                    <input asp-for="Car.Model" class="form-control" />
                    <span asp-validation-for="Car.Model" class="text-danger"></span>


                </div>
                <div class="form-group">
                    <label asp-for="Car.Engine"></label>
                    <input asp-for="Car.Engine" class="form-control" />
                    <span asp-validation-for="Car.Engine" class="text-danger"></span>


                </div>
                <div class="form-group">
                    <label asp-for="Car.Seating_Capacity"></label>
                    <input asp-for="Car.Seating_Capacity" class="form-control" />
                    <span asp-validation-for="Car.Seating_Capacity" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Car.Car_Number"></label>
                    <input asp-for="Car.Car_Number" class="form-control" />
                    <span asp-validation-for="Car.Car_Number" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Car.Fuel_Type"></label>
                    <select asp-for="Car.Fuel_Type" class="dropdown-item">
                        <option value="">--Select Fuel Type--</option>
                        <option value="Octane">Octane</option>
                        <option value="Diesel">Diesel</option>
                        <option value="Petrol">Petrol</option>

                    </select>
                    <span asp-validation-for="Car.Fuel_Type" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Car.Passing_Year"></label>
                    <input asp-for="Car.Passing_Year" class="form-control" />
                    <span asp-validation-for="Car.Passing_Year" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" asp-for="Carfile" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" asp-for="Carfile">Choose File</label>
                    </div>
                </div>
                <div class="btn-group">
                    <div class="form-group">
                        <input type="reset" value="Clear" class="btn btn-primary" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-info" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

