@using Car_Rental_System.CustomModels
@model CarModel
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-1">
            <h2 class="display-4 text-center"> Delete Car</h2>
            <hr />
        </div>
        <div class="col-md-10 offset-1">

            @if (ViewBag.Success)
            {
                <div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Sorry! </strong> You have deleted a car.

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }

        <form method="post" enctype="multipart/form-data" asp-controller="car" asp-action="delete">
            <input asp-for="Id" hidden />
            <input asp-for="ImagePath" hidden />

            <div class="form-group">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" hidden class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" hidden class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>


            </div>
            <div class="form-group">
                <label asp-for="Registration_Number"></label>
                <input asp-for="Registration_Number" hidden class="form-control" />
                <span asp-validation-for="Registration_Number" class="text-danger"></span>


            </div>
            <div class="form-group">
                <label asp-for="Seating_Capacity"></label>
                <input asp-for="Seating_Capacity" hidden class="form-control" />
                <span asp-validation-for="Seating_Capacity" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Registration_Year"></label>
                <input asp-for="Registration_Year" hidden class="form-control" />
                <span asp-validation-for="Registration_Year" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Fuel_Type"></label>
                <select asp-for="Fuel_Type" hidden class="dropdown-item">
                    <option value="">--Select Fuel Type--</option>
                    <option value="Octane">Octane</option>
                    <option value="Diesel">Diesel</option>
                    <option value="Petrol">Petrol</option>

                </select>
                <span asp-validation-for="Fuel_Type" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="DailyHirePrice"></label>
                <input asp-for="DailyHirePrice" hidden class="form-control" />
                <span asp-validation-for="DailyHirePrice" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="AddedDate"></label>
                <input asp-for="AddedDate" hidden class="form-control" />
                <span asp-validation-for="AddedDate" class="text-danger"></span>

            </div>
            <div class="btn-group">
                <div class="form-group">
                    <input type="reset" value="Clear" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-info" />
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

